*tic-tac-toe/.idea
*oop_lesson_c1
*.idea
*sea_battle/.idea
*test_tg_bot
*telegram_bot/.idea
*telegram_bot/__pycache__
*telegram_bot/venv
*telegram_bot/private_data.py
*zoo_data_parser
*zoo_quiz_bot/.idea
*zoo_quiz_bot/__pycache__
*zoo_quiz_bot/data
*zoo_quiz_bot/private_data.py
*zoo_quiz_bot/image
*django-project/venv
*django-project/project/project/__pycache__
*django-project/.idea
*news_paper
*news_portal_project/.idea
*news_portal_project/venv
*news_portal_project/project/project/__pycache__
*news_portal_project/project/news/__pycache__
*news_portal_project/project/news/templatetags/__pycache__
*news_portal_project/project/accounts/__pycache__
*news_portal_project/project/project/.env
*news_portal_project/project/news/management/commands/__pycache__
*news_portal_project/project/cache_files
*bulletin_board/.idea
*bulletin_board/project/accounts/__pycache__
*bulletin_board/project/board/__pycache__
*bulletin_board/project/accounts/migrations/__pycache__
*bulletin_board/project/board/migrations/__pycache__
*bulletin_board/project/board/templatetags/__pycache__
*bulletin_board/project/media
*bulletin_board/project/project/__pycache__
*bulletin_board/project/project/.env
*bulletin_board/venv