body {
    margin: 20px;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 20px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #f0a500;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left:180px;
}

.about-photo {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 300px;
}

.container .text {
    max-width: 600px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}
