{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
All posts
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
        <div>
            <p class="text-center">
                <a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a>
            </p>
        </div>
    {% endif %}
    <h1>Все посты</h1>
    {% if perms.news.add_post %}
        {% with 'create_post_link.html' as template_name %}
            {% include template_name %}
        {% endwith %}
    {% endif %}
    <hr>
    {% if category %}

           {% for post in object_list  %}
                <div>
                    {% if post.categoryType == 'NW' %}
                        <a href="{% url 'new_detail' pk=post.id %}">
                    {% elif post.categoryType == 'AR' %}
                        <a href="{% url 'article_detail' pk=post.id %}">
                    {% endif %}
                            <h5>{{ post.title|censor }}</h5>
                    </a>
                    {% for category in post.postCategory.all %}
                        <a href="{% url 'category_list' category.id %}">{{category.name}}</a>
                    {% endfor %}
                    <p>{{ post.dateCreation|date:"d F Y"}}</p>
                    <p>{{ post.text|censor|truncatechars:20 }}</p>
                </div>
                <br>
           {% endfor %}
    {% else %}
       <h2>Постов нет!</h2>
    {% endif %}

    {% with 'flatpages/paginate.html' as template_name %}
        {% include template_name %}
    {% endwith %}

{% endblock content %}