{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    {% with 'flatpages/filters_form.html' as template_name %}
        {% include template_name %}
    {% endwith %}
    <h1>Все новости</h1>
    {% if perms.news.add_post %}
        {% with 'create_post_link.html' as template_name %}
            {% include template_name %}
        {% endwith %}
    {% endif %}
    <hr>
    {% if news %}
           {% for new in news %}
                <div>
                    <a href="{% url 'new_detail' pk=new.id %}">
                        <h5>{{ new.title|censor }}</h5>
                    </a>
                    <p>{{ new.dateCreation|date:"d F Y"}}</p>
                    <p>{{ new.text|censor|truncatechars:20 }}</p>
                </div>
                <br>
           {% endfor %}
    {% else %}
       <h2>Новостей нет!</h2>
    {% endif %}

    {% with 'flatpages/paginate.html' as template_name %}
        {% include template_name %}
    {% endwith %}

{% endblock content %}