{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
All posts
{% endblock title %}

{% block content %}
    {% with 'flatpages/filters_form.html' as template_name %}
        {% include template_name %}
    {% endwith %}
    <h1>Все посты</h1>
    {% if perms.news.add_post %}
        {% with 'create_post_link.html' as template_name %}
            {% include template_name %}
        {% endwith %}
    {% endif %}
    <hr>
    {% if posts %}
           {% for post in posts %}
                <div>
                    {% if post.categoryType == 'NW' %}
                        <a href="{% url 'new_detail' pk=post.id %}">
                    {% elif post.categoryType == 'AR' %}
                        <a href="{% url 'article_detail' pk=post.id %}">
                    {% endif %}
                            <h5>{{ post.title|censor }}</h5>
                    </a>
                    <p>{{ post.dateCreation|date:"d F Y"}}</p>
                    <p>{{ post.text|censor|truncatechars:20 }}</p>
                </div>
                <br>
           {% endfor %}
    {% else %}
       <h2>Постов нет!</h2>
    {% endif %}

    {% with 'flatpages/paginate.html' as template_name %}
        {% include template_name %}
    {% endwith %}

{% endblock content %}